<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="//libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<script src="//libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="//libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<div *ngIf="albums" class="row">
  <div *ngFor="let album of albums">
    <div class="col-md-3">
      <img [src]="album.imageUrls[0]" width="100%" (click)="onClickAlbum(album.id)">
    </div>
  </div>
</div>
<div id="maskLayer" [ngStyle]="currentStyles">
  <div class="row">
    <P style="height: 10px"></P>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-2">
          <button type=" button">放大</button>
        </div>
        <div class="col-md-6">
        </div>
        <div class="col-md-2">
          <button type=" button">下载</button>
        </div>
        <div class="col-md-2">
          <button type=" button" (click)="closeBigPicture()">关闭</button>
        </div>
      </div>
      <div class="row">
        <P style="height: 10px"></P>
      </div>
      <div class="row">
        <carousel>
          <slide *ngFor="let image of selectedAlbum.imageUrls">
            <img src="{{image}}" width="100%" height="100%">
          </slide>
        </carousel>
      </div>
    </div>
    <div class="col-md-3" id="albumInfo">
      <div class="row">
        <button>赞</button>
        <button>评论</button>
      </div>
      <div class="row">
        <div>xjw</div>
      </div>
      <div class="row">
        <div>描述</div>
      </div>
      <div class="row">
        <div>地点，时间，器材等</div>
      </div>
    </div>
  </div>
</div>
