<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="//libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<script src="//libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="//libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<div class="row">
  <P style="height: 10px"></P>
</div>
<!-- <div *ngIf="shares" class="row">
  <div *ngFor="let share of shares">
    <div class="col-md-3"  style="margin-bottom: 5px">
      <img [src]="share.imageUrls[0]" width="200px" height="125px" (click)="onClickShare(share.id)">
    </div>
  </div>
</div> -->
<div class="waterfall">
  <div *ngFor="let share of shares">
    <div class="item">
      <img [src]="share.imageUrls[0]"  (click)="onClickShare(share.id)">
    </div>
  </div>
</div>
<div id="maskLayer" [ngStyle]="currentStyles">
  <div class="row">
    <P style="height: 10px"></P>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-7">
          </div>
          <div class="col-md-2">
            <label>点击图片即可下载</label>
          </div>
          <div class="col-md-1">
            <img src="assets/image/close.png" (click)="closeBigPicture()" width="75%" height="75%">
          </div>
        </div>
        <div class="row">
          <P style="height: 10px"></P>
        </div>
        <div class="row">
          <carousel>
            <slide *ngFor="let image of selectedShare.imageUrls">
              <a href="{{image}}" download="">
                <img src="{{image}}" width="100%">
              </a>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
    <div class="col-md-3" id="shareInfo">
      <div class="col-md-1"></div>
      <div class="col-md-11">
        <div class="row">
          <P style="height: 20px"></P>
        </div>
        <div class="row">
          <div class="col-md-3" *ngIf="user">
            <img [src]="user.head" width="100%" height="100%">
          </div>
          <div class="col-md-9">
            <label style="color: #dddddd" *ngIf="user">{{user.name}}</label>
          </div>
        </div>
        <div class="row">
          <p style="height: 3px"></p>
        </div>
        <div class="row">
          <div class="col-md-9">
            <label>{{selectedShare.postTime}}</label>
          </div>
          <div class="col-md-3">
            <label>{{selectedShare.postAddress}}</label>
          </div>
        </div>
        <div class="row">
          <p style="height: 3px"></p>
        </div>
        <div class="row">
          <p>{{selectedShare.desc}}</p>
        </div>
        <div class="row">
          <p style="height: 3px"></p>
        </div>
        <div class="row ">
          <label *ngFor="let tag of selectedShare.tags " (click)="gotoTagDetail(tag) ">#{{tag}}</label>
        </div>
        <div class="row">
          <P style="height: 20px"></P>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label (click)="deleteShare(template)">删除分享</label>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-3">
            <a *ngIf="selectedShare.imageUrls" href="http://service.weibo.com/share/share.php?appkey=xxxx&url=https://weibo.com/&title={{selectedShare.desc}}&pic={{selectedShare.imageUrls[0]}}" target="_blank">
          <img src="assets/image/weibo.png" width="100%" height="100%">
        </a>
          </div>
        </div>
        <div class="row">
          <P style="height: 10px"></P>
        </div>
        <div class="row">
          <textarea class="commentArea" placeholder="写下你对他的评论吧 " #comment></textarea>
        </div>
        <div class="row">
          <div class="col-md-9"></div>
          <div class="col-md-3">
            <label (click)="replyShare(comment.value)" style="">评论</label>
          </div>
        </div>
        <div class="row" id='comment' *ngFor="let comment of comments;let i=index">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-2" *ngIf="commentUsers[i]">
                <img id="head_portrait" [src]="commentUsers[i].head" (click)="gotoHomePage(comment.userId)">
              </div>
              <div class="col-md-10">
                <h5 style="color: #dddddd" (click)="gotoHomePage(comment.userId)">{{comment.userName}}</h5>
              </div>
            </div>
            <div class="row" *ngIf="replyedCommentUsers[i]">
              <div class="col-md-2"></div>
              <div class="col-md-10">
                <label style="color: #dddddd" (click)="gotoHomePage(replyedCommentUsers[i].id)">回复 {{replyedCommentUsers[i].name}}
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-10">
                <p>{{comment.content}}</p>
                <p>{{comment.times}}</p>
                <p (click)="showCommentArea(i)">回复</p>
                <div [ngStyle]="commentAreaStyle[i]">
                  <textarea class="commentArea" #childComment></textarea>
                  <p style="height: 2px"></p>
                  <label (click)="replyComment(comment.userId,comment.id,childComment.value,i)">评论</label>
                  <label type="button" (click)="cancelComment(i)">取消</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">确定删除？</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10"><h5>你确定要删除该分享吗？</h5></div>
    </div>
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-2">
        <button type="button" class="btn btn-primary" (click)="confirmDelete()">确定</button>
      </div>
      <div class="col-md-2">
         <button type="button" class="btn btn-primary" (click)="modalRef.hide()">取消</button>
      </div>
    </div>
  </div>
</ng-template>
