<div class="header">
  <div class="container">
    <div class="row">
      <P style="height: 5px"></P>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2" align="center">
        <img routerLink="follow" routerLinkActive="active" src="assets/image/logo.png">
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <div class="col-md-9">
          <input type="text" placeholder="搜索框">
        </div>
        <div class="col-md-3">
          <img src="assets/image/search.png">
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <div class="col-md-2">
          <img routerLink="post" routerLinkActive="active" src="assets/image/edit.png">
        </div>
        <div class="col-md-2">
          <div class="btn-group" dropdown>
            <img dropdownToggle class="btn dropdown-toggle" routerLink="follw" routerLinkActive="active"
                 src="assets/image/follow.png">
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li role="menuitem"><a class="dropdown-item" href="#">分组1</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">分组2</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">分组3</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <img routerLink="explore" routerLinkActive="active" src="assets/image/explore.png">
        </div>
        <div class="col-md-2">
          <img routerLink="hot" routerLinkActive="active" src="assets/image/hot.png">
        </div>
        <div class="col-md-2">
          <img routerLink="notice" routerLinkActive="active" src="assets/image/notice.png">
        </div>
        <div class="col-md-2">
          <img routerLink="identify" routerLinkActive="active" src="assets/image/user.png">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <video width="300" height="300">
  <source src="C:\Users\xjwhh\Desktop\紫荆\War.for.the.Planet.of.the.Apes.2017.BluRay.iPad.720p.AAC.x264-DreamPAD\11.mp4" type="video/mp4">
</video> -->
<router-outlet></router-outlet>
