<div class="header">
  <div class="container">
    <div class="row">
      <P style="height: 5px"></P>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2" align="center">
        <img (click)="gotoFollow()" src="assets/image/logo.png">
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <div class="col-md-9">
          <input type="text" placeholder="想搜点什么？" #searchContent>
        </div>
        <div class="col-md-3">
          <img src="assets/image/search.png" (click)="search(searchContent.value)">
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <div class="col-md-2">
          <img (click)="gotoPost()" src="assets/image/edit.png">
        </div>
        <div class="col-md-2">
          <img src="assets/image/follow.png" (click)="gotoFollow()" width="100%" height="100%">
        </div>
        <div class="col-md-2">
          <img (click)="gotoExplore()" src="assets/image/explore.png">
        </div>
        <div class="col-md-2">
          <img (click)="gotoHot()" src="assets/image/hot.png">
        </div>
        <div class="col-md-2">
          <img (click)="gotoUserInfo()" src="assets/image/user.png">
        </div>
        <div class="col-md-2">
          <div class="btn-group" dropdown>
            <img dropdownToggle class="btn dropdown-toggle" src="assets/image/notice.png" (click)="getNotice()">
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li role="menuitem"><a class="dropdown-item" href="/notice/{{userId}}">{{thumbNumber}}个新点赞</a></li>
              <li role="menuitem"><a class="dropdown-item" href="/notice/{{userId}}/comment">{{commentNumber}}个新评论</a>
              </li>
              <li role="menuitem"><a class="dropdown-item" href="/notice/{{userId}}/">分组3</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
