#tag {
  width: 220px;
  height: 150px;
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  font-size: 30px;
  color: white;
  text-align: center;
  font-family: "SimSun";
}

.waterfall {
  -webkit-column-count: 3;
  /* Safari 和 Chrome */
  column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
}

.item {
  padding: 1em;
  margin: 0 0 1em 0;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  border: 1px solid #dddddd;
}

.item img {
  width: 100%;
  margin-bottom: 10px;

}