<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="//libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<script src="//libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="//libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<div class="container">
  <div class="row">
    <P style="height: 5px"></P>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <!--       <div class="row">
              <div class="col-md-4" style="margin-bottom: 10px" *ngFor="let image of imageUrls;let i=index">
                <div id="tag" [style.background-image]=image (click)="gotoTagDetail(Tags[i])">{{Tags[i]}}</div>
              </div>
            </div> -->
      <div class="waterfall">
        <div *ngFor="let image of imageUrls;let i=index">
          <div class="item" id="tag" [style.background-image]=image (click)="gotoTagDetail(Tags[i])">{{Tags[i]}}
            <!-- <img [src]="share.imageUrls[0]" (click)="onClickShare(share.id)"> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
