<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="//libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<script src="//libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="//libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<div class="row">
  <P style="height: 20px"></P>
</div>
<div class="row">
  <div class="col-md-8">
    <form [formGroup]="activityForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label>拍摄地区</label>
        <select class="form-control" fromControName="photoRegion" #photoAddress>
          <option *ngFor="let address of addresses" [value]="address">{{address}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>拍摄时间</label>
        <input type="date" class="form-control" fromControName="photoRegion" #photoTime>
      </div>
      <div class="form-group">
        <label>费用</label>
        <select class="form-control" fromControName="costType" #cost>
          <option *ngFor="let costType of costTypes" [value]="costType">{{costType}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>发布内容</label>
        <input class="form-control" formControlName="desc" placeholder="比如自我介绍，对应征者的要求等" [(ngModel)]="description" (keyup)="isAt(desc.value,template)" #desc>
      </div>
      <div formArrayName="tags">
        <div class="row">
          <label>添加标签</label>
        </div>
        <div class="row">
          <div *ngFor="let tag of Tags;let i= index">
            <div class="col-md-1">
              <button [ngStyle]="tagStyles[i]" type="button" class="btn btn-primary" (click)="onClickTag(tag,i)">{{tag}}</button>
            </div>
          </div>
        </div>
      </div>
      <div formArrayName="photos">
        <div class="row">
          <P style="height: 10px"></P>
        </div>
        <div class="row">
          <alert type="info">
            添加图片，最多添加九张，每张大小不超过20M
          </alert>
        </div>
        <div class="row">
          <P style="height: 10px"></P>
        </div>
        <div class="row">
          <div *ngFor="let photo of photos.controls; let i=index" [formGroupName]="i">
            <div class="col-md-4">
              <div class="form-group">
                <img src="{{photo.value.url}}" width="200px" height="150px" (click)="deleteImage(photo.value.url)">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <P style="height: 10px"></P>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="upload">选择文件
              <input type="file" accept="image/*" style="background-color: red" ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged()" multiple/>
            </div>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-primary" (click)="upload(photoAddress.value,photoTime.value,cost.value,desc.value)">上传</button>
          </div>
        </div>
        <div class="row">
          <P style="height: 5px"></P>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <alert type="info">
      <h4 style="text-align: center">注意事项 </h4>
      <p>1.了解乐拍约拍机制：发布约拍信息，有意的摄影师或者模特会与你联系</p>
      <p>2.乐拍作品发布原则：我们默认所有摄影、模特发布的图片/相册作品均为个人原创作品，尊重他人劳动成果和作品。 </p>
      <p>注：引用他人作品务必注明来源和出处，明确表明非个人作品，如被原摄影投诉侵删。 </p>
      <p>3.信息发布请遵循相关法律法规、道德伦理和乐拍社区发布原则。 </p>
      <p>注：约拍作品禁露点；发布信息两天通过一条，重复发布以后一条为准。 </p>
      <p>4.所有对约拍信息的处理遵循第1、2、3条。 </p>
    </alert>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">想@谁？</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let user of followArray" (click)="selectAtUser(user.id,user.name,desc.value)">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">
          <img id="head_portrait" [src]="user.head">
        </div>
        <div class="col-md-2">
          {{user.name}}
        </div>
      </div>
      <div class="row">
        <P style="height: 1px"></P>
      </div>
    </div>
  </div>
</ng-template>
