<div class="row">
  <p style="height: 10px"></p>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-5">
        <label>姓名</label>
      </div>
      <div class="col-md-7">
        <label>{{user.name}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <label>个人介绍</label>
      </div>
      <div class="col-md-7">
        <label>{{user.introduction}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <label>性别</label>
      </div>
      <div class="col-md-7">
        <label>{{user.gender}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <label>身份</label>
      </div>
      <div class="col-md-7">
        <label>{{user.identity}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <label>电话号码</label>
      </div>
      <div class="col-md-7">
        <label>{{user.telephone}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label>邮箱地址</label>
      </div>
      <div class="col-md-8">
        <label>{{user.email}}</label>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    <div class="row">
      <img src="assets/image/editBasicInfo.png" width="30px" height="30px" (click)="gotoEditInfo()">
    </div>
    <div class="row">
      <P style="height: 75px"></P>
    </div>
    <div class="row">
      <img src="assets/image/exit.png" width="30px" height="30px" (click)="exit()">
    </div>
  </div>
</div>
