<div class="col-md-3"></div>
<div class="col-md-6">
  <div class="row">
    <div class="col-md-3">
      <label>姓名</label>
    </div>
    <div class="col-md-9">
      <label>{{user.name}}</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label>个人介绍</label>
    </div>
    <div class="col-md-9">
      <label>{{user.introduction}}</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label>性别</label>
    </div>
    <div class="col-md-9">
      <label>{{user.gender}}</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label>身份</label>
    </div>
    <div class="col-md-9">
      <label>{{user.identity}}</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label>电话号码</label>
    </div>
    <div class="col-md-9">
      <label>{{user.telephone}}</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label>邮箱地址</label>
    </div>
    <div class="col-md-9">
      <label>{{user.email}}</label>
    </div>
  </div>
</div>
<div class="col-md-1">
  <div class="row">
    <label (click)="gotoEditInfo()">此处应有编辑按钮</label>
  </div>

  <div class="row">
    <label (click)="exit()">退出按钮</label>
  </div>
</div>
