<!-- <form [formGroup]="basicInfoForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label>姓名</label>
    <input  class="form-control" formControlName="name">
  </div>
  <div class="form-group">
    <label>性别</label>
        <select class="form-control" fromControName="gender" disabled="disabled">
        </select>
  </div>
  <div class="form-group">
    <label>身份</label>
        <select class="form-control" fromControName="identify" disabled="disabled">
          <option>234561</option>
          <option>234562</option>
          <option>234563</option>
        </select>
  </div>
    <div class="form-group">
    <label>电话</label>
    <input type="tel" class="form-control" formControlName="tel" >
  </div>
    <div class="form-group">
    <label>邮件地址</label>
    <input type="email" class="form-control" formControlName="email" >
  </div>
</form>

<div class="row">
  <button type="button" (click)="w()">23</button>
</div> -->

<div class="col-md-3"></div>
<div class="col-md-6">

  <div class="row">
    <div class="col-md-3">
      <label>姓名</label>
    </div>
    <div class="col-md-9">
      <label>姓名</label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label>性别</label>
    </div>
    <div class="col-md-9">
      <label>性别</label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label>身份</label>
    </div>
    <div class="col-md-9">
      <label>身份</label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label>电话号码</label>
    </div>
    <div class="col-md-9">
      <label>15895873758</label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label>邮箱地址</label>
    </div>
    <div class="col-md-9">
      <label>920054996@qq.com</label>
    </div>
  </div>
</div>
<div class="col-md-1">
  <label>此处应有编辑按钮</label>
</div>
